@font-face {
  font-family: "pixelicons";
  src: url('pixelicons.eot?t=1769935335147'); /* IE9*/
  src: url('pixelicons.eot?t=1769935335147#iefix') format('embedded-opentype') /* IE6-IE8 */,
  url('pixelicons.woff2?t=1769935335147') format('woff2'),
  url('pixelicons.woff?t=1769935335147') format('woff'),
  url('pixelicons.ttf?t=1769935335147') format('truetype'),
  url('pixelicons.svg?t=1769935335147') format('svg');
}

[class^="pixelicons-"], [class*=" pixelicons-"] {
  font-family: 'pixelicons' !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.pixelicons-4g::before { content: "\ea01"; }
.pixelicons-4k-box::before { content: "\ea02"; }
.pixelicons-4k::before { content: "\ea03"; }
.pixelicons-5g::before { content: "\ea04"; }
.pixelicons-ab-testing::before { content: "\ea05"; }
.pixelicons-ac::before { content: "\ea06"; }
.pixelicons-add-box-multiple::before { content: "\ea07"; }
.pixelicons-add-box::before { content: "\ea08"; }
.pixelicons-add-col::before { content: "\ea09"; }
.pixelicons-add-grid::before { content: "\ea0a"; }
.pixelicons-add-row::before { content: "\ea0b"; }
.pixelicons-alert::before { content: "\ea0c"; }
.pixelicons-align-center::before { content: "\ea0d"; }
.pixelicons-align-justify::before { content: "\ea0e"; }
.pixelicons-align-left::before { content: "\ea0f"; }
.pixelicons-align-right::before { content: "\ea10"; }
.pixelicons-analytics::before { content: "\ea11"; }
.pixelicons-anchor::before { content: "\ea12"; }
.pixelicons-android::before { content: "\ea13"; }
.pixelicons-animation::before { content: "\ea14"; }
.pixelicons-archive::before { content: "\ea15"; }
.pixelicons-arrow-bar-down::before { content: "\ea16"; }
.pixelicons-arrow-bar-left::before { content: "\ea17"; }
.pixelicons-arrow-bar-right::before { content: "\ea18"; }
.pixelicons-arrow-bar-up::before { content: "\ea19"; }
.pixelicons-arrow-down-box::before { content: "\ea1a"; }
.pixelicons-arrow-down::before { content: "\ea1b"; }
.pixelicons-arrow-left-box::before { content: "\ea1c"; }
.pixelicons-arrow-left::before { content: "\ea1d"; }
.pixelicons-arrow-right-box::before { content: "\ea1e"; }
.pixelicons-arrow-right::before { content: "\ea1f"; }
.pixelicons-arrow-up-box::before { content: "\ea20"; }
.pixelicons-arrow-up::before { content: "\ea21"; }
.pixelicons-arrows-horizontal::before { content: "\ea22"; }
.pixelicons-arrows-vertical::before { content: "\ea23"; }
.pixelicons-art-text::before { content: "\ea24"; }
.pixelicons-article-multiple::before { content: "\ea25"; }
.pixelicons-article::before { content: "\ea26"; }
.pixelicons-aspect-ratio::before { content: "\ea27"; }
.pixelicons-at::before { content: "\ea28"; }
.pixelicons-attachment::before { content: "\ea29"; }
.pixelicons-audio-device::before { content: "\ea2a"; }
.pixelicons-avatar::before { content: "\ea2b"; }
.pixelicons-backburger::before { content: "\ea2c"; }
.pixelicons-battery-1::before { content: "\ea2d"; }
.pixelicons-battery-2::before { content: "\ea2e"; }
.pixelicons-battery-charging::before { content: "\ea2f"; }
.pixelicons-battery-full::before { content: "\ea30"; }
.pixelicons-battery::before { content: "\ea31"; }
.pixelicons-bed::before { content: "\ea32"; }
.pixelicons-bitcoin::before { content: "\ea33"; }
.pixelicons-bluetooth::before { content: "\ea34"; }
.pixelicons-book-open::before { content: "\ea35"; }
.pixelicons-book::before { content: "\ea36"; }
.pixelicons-bookmark::before { content: "\ea37"; }
.pixelicons-bookmarks::before { content: "\ea38"; }
.pixelicons-briefcase-account::before { content: "\ea39"; }
.pixelicons-briefcase-check::before { content: "\ea3a"; }
.pixelicons-briefcase-delete::before { content: "\ea3b"; }
.pixelicons-briefcase-download::before { content: "\ea3c"; }
.pixelicons-briefcase-minus::before { content: "\ea3d"; }
.pixelicons-briefcase-plus::before { content: "\ea3e"; }
.pixelicons-briefcase-search-1::before { content: "\ea3f"; }
.pixelicons-briefcase-search::before { content: "\ea40"; }
.pixelicons-briefcase-upload::before { content: "\ea41"; }
.pixelicons-briefcase::before { content: "\ea42"; }
.pixelicons-bug::before { content: "\ea43"; }
.pixelicons-building-community::before { content: "\ea44"; }
.pixelicons-building-skyscraper::before { content: "\ea45"; }
.pixelicons-building::before { content: "\ea46"; }
.pixelicons-buildings::before { content: "\ea47"; }
.pixelicons-bulletlist::before { content: "\ea48"; }
.pixelicons-bullseye-arrow::before { content: "\ea49"; }
.pixelicons-bullseye::before { content: "\ea4a"; }
.pixelicons-bus::before { content: "\ea4b"; }
.pixelicons-cake::before { content: "\ea4c"; }
.pixelicons-calculator::before { content: "\ea4d"; }
.pixelicons-calendar-alert::before { content: "\ea4e"; }
.pixelicons-calendar-arrow-left::before { content: "\ea4f"; }
.pixelicons-calendar-arrow-right::before { content: "\ea50"; }
.pixelicons-calendar-check::before { content: "\ea51"; }
.pixelicons-calendar-export::before { content: "\ea52"; }
.pixelicons-calendar-grid::before { content: "\ea53"; }
.pixelicons-calendar-import::before { content: "\ea54"; }
.pixelicons-calendar-minus::before { content: "\ea55"; }
.pixelicons-calendar-month::before { content: "\ea56"; }
.pixelicons-calendar-multiple-check::before { content: "\ea57"; }
.pixelicons-calendar-multiple::before { content: "\ea58"; }
.pixelicons-calendar-plus::before { content: "\ea59"; }
.pixelicons-calendar-range::before { content: "\ea5a"; }
.pixelicons-calendar-remove::before { content: "\ea5b"; }
.pixelicons-calendar-search::before { content: "\ea5c"; }
.pixelicons-calendar-sort-ascending::before { content: "\ea5d"; }
.pixelicons-calendar-sort-descending::before { content: "\ea5e"; }
.pixelicons-calendar-text::before { content: "\ea5f"; }
.pixelicons-calendar-today::before { content: "\ea60"; }
.pixelicons-calendar-tomorrow::before { content: "\ea61"; }
.pixelicons-calendar-week-begin::before { content: "\ea62"; }
.pixelicons-calendar-week::before { content: "\ea63"; }
.pixelicons-calendar-weekend::before { content: "\ea64"; }
.pixelicons-calendar::before { content: "\ea65"; }
.pixelicons-camera-add::before { content: "\ea66"; }
.pixelicons-camera-alt::before { content: "\ea67"; }
.pixelicons-camera-face::before { content: "\ea68"; }
.pixelicons-camera::before { content: "\ea69"; }
.pixelicons-car::before { content: "\ea6a"; }
.pixelicons-card-id::before { content: "\ea6b"; }
.pixelicons-card-plus::before { content: "\ea6c"; }
.pixelicons-card-stack::before { content: "\ea6d"; }
.pixelicons-card-text::before { content: "\ea6e"; }
.pixelicons-card::before { content: "\ea6f"; }
.pixelicons-cart::before { content: "\ea70"; }
.pixelicons-cast::before { content: "\ea71"; }
.pixelicons-cellular-signal-0::before { content: "\ea72"; }
.pixelicons-cellular-signal-1::before { content: "\ea73"; }
.pixelicons-cellular-signal-2::before { content: "\ea74"; }
.pixelicons-cellular-signal-3::before { content: "\ea75"; }
.pixelicons-cellular-signal-off::before { content: "\ea76"; }
.pixelicons-chart-add::before { content: "\ea77"; }
.pixelicons-chart-bar::before { content: "\ea78"; }
.pixelicons-chart-delete::before { content: "\ea79"; }
.pixelicons-chart-minus::before { content: "\ea7a"; }
.pixelicons-chart-multiple::before { content: "\ea7b"; }
.pixelicons-chart::before { content: "\ea7c"; }
.pixelicons-chat::before { content: "\ea7d"; }
.pixelicons-check-double::before { content: "\ea7e"; }
.pixelicons-check::before { content: "\ea7f"; }
.pixelicons-checkbox-on::before { content: "\ea80"; }
.pixelicons-checkbox::before { content: "\ea81"; }
.pixelicons-checklist::before { content: "\ea82"; }
.pixelicons-chess::before { content: "\ea83"; }
.pixelicons-chevron-down::before { content: "\ea84"; }
.pixelicons-chevron-left::before { content: "\ea85"; }
.pixelicons-chevron-right::before { content: "\ea86"; }
.pixelicons-chevron-up::before { content: "\ea87"; }
.pixelicons-chevrons-horizontal::before { content: "\ea88"; }
.pixelicons-chevrons-vertical::before { content: "\ea89"; }
.pixelicons-circle::before { content: "\ea8a"; }
.pixelicons-clipboard::before { content: "\ea8b"; }
.pixelicons-clock::before { content: "\ea8c"; }
.pixelicons-close-box::before { content: "\ea8d"; }
.pixelicons-close::before { content: "\ea8e"; }
.pixelicons-cloud-done::before { content: "\ea8f"; }
.pixelicons-cloud-download::before { content: "\ea90"; }
.pixelicons-cloud-moon::before { content: "\ea91"; }
.pixelicons-cloud-sun::before { content: "\ea92"; }
.pixelicons-cloud-upload::before { content: "\ea93"; }
.pixelicons-cloud::before { content: "\ea94"; }
.pixelicons-cocktail::before { content: "\ea95"; }
.pixelicons-code::before { content: "\ea96"; }
.pixelicons-coffee-alt::before { content: "\ea97"; }
.pixelicons-coffee::before { content: "\ea98"; }
.pixelicons-coin::before { content: "\ea99"; }
.pixelicons-collapse::before { content: "\ea9a"; }
.pixelicons-colors-swatch::before { content: "\ea9b"; }
.pixelicons-command::before { content: "\ea9c"; }
.pixelicons-comment::before { content: "\ea9d"; }
.pixelicons-contact-delete::before { content: "\ea9e"; }
.pixelicons-contact-multiple::before { content: "\ea9f"; }
.pixelicons-contact-plus::before { content: "\eaa0"; }
.pixelicons-contact::before { content: "\eaa1"; }
.pixelicons-copy::before { content: "\eaa2"; }
.pixelicons-corner-down-left::before { content: "\eaa3"; }
.pixelicons-corner-down-right::before { content: "\eaa4"; }
.pixelicons-corner-left-down::before { content: "\eaa5"; }
.pixelicons-corner-left-up::before { content: "\eaa6"; }
.pixelicons-corner-right-down::before { content: "\eaa7"; }
.pixelicons-corner-right-up::before { content: "\eaa8"; }
.pixelicons-corner-up-left::before { content: "\eaa9"; }
.pixelicons-corner-up-right::before { content: "\eaaa"; }
.pixelicons-credit-card-delete::before { content: "\eaab"; }
.pixelicons-credit-card-minus::before { content: "\eaac"; }
.pixelicons-credit-card-multiple::before { content: "\eaad"; }
.pixelicons-credit-card-plus::before { content: "\eaae"; }
.pixelicons-credit-card-settings::before { content: "\eaaf"; }
.pixelicons-credit-card-wireless::before { content: "\eab0"; }
.pixelicons-credit-card::before { content: "\eab1"; }
.pixelicons-crop::before { content: "\eab2"; }
.pixelicons-cut::before { content: "\eab3"; }
.pixelicons-dashboard::before { content: "\eab4"; }
.pixelicons-debug-check::before { content: "\eab5"; }
.pixelicons-debug-off::before { content: "\eab6"; }
.pixelicons-debug-pause::before { content: "\eab7"; }
.pixelicons-debug-play::before { content: "\eab8"; }
.pixelicons-debug-stop::before { content: "\eab9"; }
.pixelicons-debug::before { content: "\eaba"; }
.pixelicons-delete::before { content: "\eabb"; }
.pixelicons-deskphone::before { content: "\eabc"; }
.pixelicons-device-laptop::before { content: "\eabd"; }
.pixelicons-device-phone::before { content: "\eabe"; }
.pixelicons-device-tablet::before { content: "\eabf"; }
.pixelicons-device-tv-smart::before { content: "\eac0"; }
.pixelicons-device-tv::before { content: "\eac1"; }
.pixelicons-device-vibrate::before { content: "\eac2"; }
.pixelicons-device-watch::before { content: "\eac3"; }
.pixelicons-devices::before { content: "\eac4"; }
.pixelicons-dice::before { content: "\eac5"; }
.pixelicons-dollar::before { content: "\eac6"; }
.pixelicons-downasaur::before { content: "\eac7"; }
.pixelicons-download::before { content: "\eac8"; }
.pixelicons-draft::before { content: "\eac9"; }
.pixelicons-drag-and-drop::before { content: "\eaca"; }
.pixelicons-drop-area::before { content: "\eacb"; }
.pixelicons-drop-full::before { content: "\eacc"; }
.pixelicons-drop-half::before { content: "\eacd"; }
.pixelicons-drop::before { content: "\eace"; }
.pixelicons-duplicate-alt::before { content: "\eacf"; }
.pixelicons-duplicate::before { content: "\ead0"; }
.pixelicons-edit-box::before { content: "\ead1"; }
.pixelicons-edit::before { content: "\ead2"; }
.pixelicons-euro::before { content: "\ead3"; }
.pixelicons-expand::before { content: "\ead4"; }
.pixelicons-external-link::before { content: "\ead5"; }
.pixelicons-eye-closed::before { content: "\ead6"; }
.pixelicons-eye::before { content: "\ead7"; }
.pixelicons-file-alt::before { content: "\ead8"; }
.pixelicons-file-delete::before { content: "\ead9"; }
.pixelicons-file-flash::before { content: "\eada"; }
.pixelicons-file-minus::before { content: "\eadb"; }
.pixelicons-file-multiple::before { content: "\eadc"; }
.pixelicons-file-off::before { content: "\eadd"; }
.pixelicons-file-plus::before { content: "\eade"; }
.pixelicons-file::before { content: "\eadf"; }
.pixelicons-fill-half::before { content: "\eae0"; }
.pixelicons-fill::before { content: "\eae1"; }
.pixelicons-flag::before { content: "\eae2"; }
.pixelicons-flatten::before { content: "\eae3"; }
.pixelicons-flip-to-back::before { content: "\eae4"; }
.pixelicons-flip-to-front::before { content: "\eae5"; }
.pixelicons-float-center::before { content: "\eae6"; }
.pixelicons-float-left::before { content: "\eae7"; }
.pixelicons-float-right::before { content: "\eae8"; }
.pixelicons-folder-minus::before { content: "\eae9"; }
.pixelicons-folder-plus::before { content: "\eaea"; }
.pixelicons-folder-x::before { content: "\eaeb"; }
.pixelicons-folder::before { content: "\eaec"; }
.pixelicons-forward::before { content: "\eaed"; }
.pixelicons-forwardburger::before { content: "\eaee"; }
.pixelicons-frame-add::before { content: "\eaef"; }
.pixelicons-frame-check::before { content: "\eaf0"; }
.pixelicons-frame-delete::before { content: "\eaf1"; }
.pixelicons-frame-minus::before { content: "\eaf2"; }
.pixelicons-frame::before { content: "\eaf3"; }
.pixelicons-gamepad::before { content: "\eaf4"; }
.pixelicons-gif::before { content: "\eaf5"; }
.pixelicons-gift::before { content: "\eaf6"; }
.pixelicons-git-branch::before { content: "\eaf7"; }
.pixelicons-git-commit::before { content: "\eaf8"; }
.pixelicons-git-merge::before { content: "\eaf9"; }
.pixelicons-git-pull-request::before { content: "\eafa"; }
.pixelicons-github-2::before { content: "\eafb"; }
.pixelicons-github::before { content: "\eafc"; }
.pixelicons-gps::before { content: "\eafd"; }
.pixelicons-grid::before { content: "\eafe"; }
.pixelicons-group::before { content: "\eaff"; }
.pixelicons-hd::before { content: "\eb00"; }
.pixelicons-headphone::before { content: "\eb01"; }
.pixelicons-headset::before { content: "\eb02"; }
.pixelicons-heart::before { content: "\eb03"; }
.pixelicons-hidden::before { content: "\eb04"; }
.pixelicons-home::before { content: "\eb05"; }
.pixelicons-hourglass::before { content: "\eb06"; }
.pixelicons-hq::before { content: "\eb07"; }
.pixelicons-human-handsdown::before { content: "\eb08"; }
.pixelicons-human-handsup::before { content: "\eb09"; }
.pixelicons-human-height-alt::before { content: "\eb0a"; }
.pixelicons-human-height::before { content: "\eb0b"; }
.pixelicons-human-run::before { content: "\eb0c"; }
.pixelicons-human::before { content: "\eb0d"; }
.pixelicons-image-arrow-right::before { content: "\eb0e"; }
.pixelicons-image-broken::before { content: "\eb0f"; }
.pixelicons-image-delete::before { content: "\eb10"; }
.pixelicons-image-flash::before { content: "\eb11"; }
.pixelicons-image-frame::before { content: "\eb12"; }
.pixelicons-image-gallery::before { content: "\eb13"; }
.pixelicons-image-multiple::before { content: "\eb14"; }
.pixelicons-image-new::before { content: "\eb15"; }
.pixelicons-image-plus::before { content: "\eb16"; }
.pixelicons-image::before { content: "\eb17"; }
.pixelicons-inbox-all::before { content: "\eb18"; }
.pixelicons-inbox-full::before { content: "\eb19"; }
.pixelicons-inbox::before { content: "\eb1a"; }
.pixelicons-info-box::before { content: "\eb1b"; }
.pixelicons-invert::before { content: "\eb1c"; }
.pixelicons-iso::before { content: "\eb1d"; }
.pixelicons-kanban::before { content: "\eb1e"; }
.pixelicons-keyboard::before { content: "\eb1f"; }
.pixelicons-label-alt-multiple::before { content: "\eb20"; }
.pixelicons-label-alt::before { content: "\eb21"; }
.pixelicons-label-sharp::before { content: "\eb22"; }
.pixelicons-label::before { content: "\eb23"; }
.pixelicons-layout-align-bottom::before { content: "\eb24"; }
.pixelicons-layout-align-left::before { content: "\eb25"; }
.pixelicons-layout-align-right::before { content: "\eb26"; }
.pixelicons-layout-align-top::before { content: "\eb27"; }
.pixelicons-layout-columns::before { content: "\eb28"; }
.pixelicons-layout-distribute-horizontal::before { content: "\eb29"; }
.pixelicons-layout-distribute-vertical::before { content: "\eb2a"; }
.pixelicons-layout-footer::before { content: "\eb2b"; }
.pixelicons-layout-header::before { content: "\eb2c"; }
.pixelicons-layout-rows::before { content: "\eb2d"; }
.pixelicons-layout-sidebar-left::before { content: "\eb2e"; }
.pixelicons-layout-sidebar-right::before { content: "\eb2f"; }
.pixelicons-layout::before { content: "\eb30"; }
.pixelicons-lightbulb-2::before { content: "\eb31"; }
.pixelicons-lightbulb-on::before { content: "\eb32"; }
.pixelicons-lightbulb::before { content: "\eb33"; }
.pixelicons-link::before { content: "\eb34"; }
.pixelicons-list-box::before { content: "\eb35"; }
.pixelicons-list::before { content: "\eb36"; }
.pixelicons-loader::before { content: "\eb37"; }
.pixelicons-lock-open::before { content: "\eb38"; }
.pixelicons-lock::before { content: "\eb39"; }
.pixelicons-login::before { content: "\eb3a"; }
.pixelicons-logout::before { content: "\eb3b"; }
.pixelicons-luggage::before { content: "\eb3c"; }
.pixelicons-mail-arrow-right::before { content: "\eb3d"; }
.pixelicons-mail-check::before { content: "\eb3e"; }
.pixelicons-mail-delete::before { content: "\eb3f"; }
.pixelicons-mail-flash::before { content: "\eb40"; }
.pixelicons-mail-multiple::before { content: "\eb41"; }
.pixelicons-mail-off::before { content: "\eb42"; }
.pixelicons-mail-unread::before { content: "\eb43"; }
.pixelicons-mail::before { content: "\eb44"; }
.pixelicons-map::before { content: "\eb45"; }
.pixelicons-mastodon::before { content: "\eb46"; }
.pixelicons-membercard::before { content: "\eb47"; }
.pixelicons-menu::before { content: "\eb48"; }
.pixelicons-message-arrow-left::before { content: "\eb49"; }
.pixelicons-message-arrow-right::before { content: "\eb4a"; }
.pixelicons-message-bookmark::before { content: "\eb4b"; }
.pixelicons-message-clock::before { content: "\eb4c"; }
.pixelicons-message-delete::before { content: "\eb4d"; }
.pixelicons-message-flash::before { content: "\eb4e"; }
.pixelicons-message-image::before { content: "\eb4f"; }
.pixelicons-message-minus::before { content: "\eb50"; }
.pixelicons-message-plus::before { content: "\eb51"; }
.pixelicons-message-processing::before { content: "\eb52"; }
.pixelicons-message-reply::before { content: "\eb53"; }
.pixelicons-message-text::before { content: "\eb54"; }
.pixelicons-message::before { content: "\eb55"; }
.pixelicons-minus::before { content: "\eb56"; }
.pixelicons-missed-call::before { content: "\eb57"; }
.pixelicons-modem::before { content: "\eb58"; }
.pixelicons-money::before { content: "\eb59"; }
.pixelicons-monitor::before { content: "\eb5a"; }
.pixelicons-mood-happy::before { content: "\eb5b"; }
.pixelicons-mood-neutral::before { content: "\eb5c"; }
.pixelicons-mood-sad::before { content: "\eb5d"; }
.pixelicons-moon-star::before { content: "\eb5e"; }
.pixelicons-moon-stars::before { content: "\eb5f"; }
.pixelicons-moon::before { content: "\eb60"; }
.pixelicons-more-horizontal::before { content: "\eb61"; }
.pixelicons-more-vertical::before { content: "\eb62"; }
.pixelicons-mouse::before { content: "\eb63"; }
.pixelicons-move::before { content: "\eb64"; }
.pixelicons-movie::before { content: "\eb65"; }
.pixelicons-music::before { content: "\eb66"; }
.pixelicons-next::before { content: "\eb67"; }
.pixelicons-note-delete::before { content: "\eb68"; }
.pixelicons-note-multiple::before { content: "\eb69"; }
.pixelicons-note-plus::before { content: "\eb6a"; }
.pixelicons-note::before { content: "\eb6b"; }
.pixelicons-notes-delete::before { content: "\eb6c"; }
.pixelicons-notes-multiple::before { content: "\eb6d"; }
.pixelicons-notes-plus::before { content: "\eb6e"; }
.pixelicons-notes::before { content: "\eb6f"; }
.pixelicons-notification-off::before { content: "\eb70"; }
.pixelicons-notification::before { content: "\eb71"; }
.pixelicons-open::before { content: "\eb72"; }
.pixelicons-paint-bucket::before { content: "\eb73"; }
.pixelicons-paperclip::before { content: "\eb74"; }
.pixelicons-pause::before { content: "\eb75"; }
.pixelicons-percent::before { content: "\eb76"; }
.pixelicons-picture-in-picture-alt::before { content: "\eb77"; }
.pixelicons-picture-in-picture::before { content: "\eb78"; }
.pixelicons-pin::before { content: "\eb79"; }
.pixelicons-pixelarticons::before { content: "\eb7a"; }
.pixelicons-play::before { content: "\eb7b"; }
.pixelicons-playlist::before { content: "\eb7c"; }
.pixelicons-plus::before { content: "\eb7d"; }
.pixelicons-power::before { content: "\eb7e"; }
.pixelicons-prev::before { content: "\eb7f"; }
.pixelicons-print::before { content: "\eb80"; }
.pixelicons-radio-handheld::before { content: "\eb81"; }
.pixelicons-radio-on::before { content: "\eb82"; }
.pixelicons-radio-signal::before { content: "\eb83"; }
.pixelicons-radio-tower::before { content: "\eb84"; }
.pixelicons-reciept-alt::before { content: "\eb85"; }
.pixelicons-reciept::before { content: "\eb86"; }
.pixelicons-redo::before { content: "\eb87"; }
.pixelicons-reload::before { content: "\eb88"; }
.pixelicons-remove-box-multiple::before { content: "\eb89"; }
.pixelicons-remove-box::before { content: "\eb8a"; }
.pixelicons-repeat::before { content: "\eb8b"; }
.pixelicons-reply-all::before { content: "\eb8c"; }
.pixelicons-reply::before { content: "\eb8d"; }
.pixelicons-rounded-corner::before { content: "\eb8e"; }
.pixelicons-save::before { content: "\eb8f"; }
.pixelicons-scale::before { content: "\eb90"; }
.pixelicons-script-text::before { content: "\eb91"; }
.pixelicons-script::before { content: "\eb92"; }
.pixelicons-scroll-horizontal::before { content: "\eb93"; }
.pixelicons-scroll-vertical::before { content: "\eb94"; }
.pixelicons-sd::before { content: "\eb95"; }
.pixelicons-search::before { content: "\eb96"; }
.pixelicons-section-copy::before { content: "\eb97"; }
.pixelicons-section-minus::before { content: "\eb98"; }
.pixelicons-section-plus::before { content: "\eb99"; }
.pixelicons-section-x::before { content: "\eb9a"; }
.pixelicons-section::before { content: "\eb9b"; }
.pixelicons-server::before { content: "\eb9c"; }
.pixelicons-sharp-corner::before { content: "\eb9d"; }
.pixelicons-shield-off::before { content: "\eb9e"; }
.pixelicons-shield::before { content: "\eb9f"; }
.pixelicons-ship::before { content: "\eba0"; }
.pixelicons-shopping-bag::before { content: "\eba1"; }
.pixelicons-shuffle::before { content: "\eba2"; }
.pixelicons-sliders-2::before { content: "\eba3"; }
.pixelicons-sliders::before { content: "\eba4"; }
.pixelicons-sort-alphabetic::before { content: "\eba5"; }
.pixelicons-sort-numeric::before { content: "\eba6"; }
.pixelicons-sort::before { content: "\eba7"; }
.pixelicons-speaker::before { content: "\eba8"; }
.pixelicons-speed-fast::before { content: "\eba9"; }
.pixelicons-speed-medium::before { content: "\ebaa"; }
.pixelicons-speed-slow::before { content: "\ebab"; }
.pixelicons-spotlight::before { content: "\ebac"; }
.pixelicons-store::before { content: "\ebad"; }
.pixelicons-subscriptions::before { content: "\ebae"; }
.pixelicons-subtitles::before { content: "\ebaf"; }
.pixelicons-suitcase::before { content: "\ebb0"; }
.pixelicons-sun-alt::before { content: "\ebb1"; }
.pixelicons-sun::before { content: "\ebb2"; }
.pixelicons-switch::before { content: "\ebb3"; }
.pixelicons-sync::before { content: "\ebb4"; }
.pixelicons-tab::before { content: "\ebb5"; }
.pixelicons-table::before { content: "\ebb6"; }
.pixelicons-tea::before { content: "\ebb7"; }
.pixelicons-teach::before { content: "\ebb8"; }
.pixelicons-text-add::before { content: "\ebb9"; }
.pixelicons-text-colums::before { content: "\ebba"; }
.pixelicons-text-search::before { content: "\ebbb"; }
.pixelicons-text-wrap::before { content: "\ebbc"; }
.pixelicons-timeline::before { content: "\ebbd"; }
.pixelicons-toggle-left::before { content: "\ebbe"; }
.pixelicons-toggle-right::before { content: "\ebbf"; }
.pixelicons-tournament::before { content: "\ebc0"; }
.pixelicons-track-changes::before { content: "\ebc1"; }
.pixelicons-trash-alt::before { content: "\ebc2"; }
.pixelicons-trash::before { content: "\ebc3"; }
.pixelicons-trending-down::before { content: "\ebc4"; }
.pixelicons-trending-up::before { content: "\ebc5"; }
.pixelicons-trending::before { content: "\ebc6"; }
.pixelicons-trophy::before { content: "\ebc7"; }
.pixelicons-truck::before { content: "\ebc8"; }
.pixelicons-undo::before { content: "\ebc9"; }
.pixelicons-ungroup::before { content: "\ebca"; }
.pixelicons-unlink::before { content: "\ebcb"; }
.pixelicons-upload::before { content: "\ebcc"; }
.pixelicons-user-minus::before { content: "\ebcd"; }
.pixelicons-user-plus::before { content: "\ebce"; }
.pixelicons-user-x::before { content: "\ebcf"; }
.pixelicons-user::before { content: "\ebd0"; }
.pixelicons-users::before { content: "\ebd1"; }
.pixelicons-video-off::before { content: "\ebd2"; }
.pixelicons-video::before { content: "\ebd3"; }
.pixelicons-view-col::before { content: "\ebd4"; }
.pixelicons-view-list::before { content: "\ebd5"; }
.pixelicons-viewport-narrow::before { content: "\ebd6"; }
.pixelicons-viewport-wide::before { content: "\ebd7"; }
.pixelicons-visible::before { content: "\ebd8"; }
.pixelicons-volume-1::before { content: "\ebd9"; }
.pixelicons-volume-2::before { content: "\ebda"; }
.pixelicons-volume-3::before { content: "\ebdb"; }
.pixelicons-volume-minus::before { content: "\ebdc"; }
.pixelicons-volume-plus::before { content: "\ebdd"; }
.pixelicons-volume-vibrate::before { content: "\ebde"; }
.pixelicons-volume-x::before { content: "\ebdf"; }
.pixelicons-volume::before { content: "\ebe0"; }
.pixelicons-wallet::before { content: "\ebe1"; }
.pixelicons-warning-box::before { content: "\ebe2"; }
.pixelicons-wind::before { content: "\ebe3"; }
.pixelicons-zap::before { content: "\ebe4"; }
.pixelicons-zoom-in::before { content: "\ebe5"; }
.pixelicons-zoom-out::before { content: "\ebe6"; }


